#ca-carousel {
  padding: 0;
}
#ca-carousel h3 {
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1rem;
}
#ca-carousel .content {
  padding: 2rem 0;
}
#ca-carousel #ca-slider {
  padding: 2rem 0;
  padding-bottom: 5rem;
}
#ca-carousel #ca-slider .item .ca-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem;
}
#ca-carousel #ca-slider .item .ca-box .img {
  margin-bottom: 10px;
}
#ca-carousel #ca-slider .item .ca-box .img .round-img {
  position: relative;
  width: 150px;
  height: 150px;
  clip-path: circle();
}
#ca-carousel #ca-slider .item .ca-box .img .round-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
#ca-carousel #ca-slider .item .ca-box .name {
  font-size: 1em;
  font-weight: 600;
  color: white;
}
#ca-carousel #ca-slider .item .ca-box .position {
  font-size: 0.85em;
  color: white;
}
#ca-carousel #ca-slider .item .slide1 {
  background: #2978B5;
}
#ca-carousel #ca-slider .item .slide2 {
  background: #0061A8;
}
#ca-carousel #ca-slider .item .slide3 {
  background: #084594;
}
#ca-carousel #ca-slider .item .slide4 {
  background: #0057BC;
}
#ca-carousel .owl-dots {
  margin-top: 25px !important;
}
#ca-carousel .owl-dot span {
  background: transparent;
  border: 1px solid #139EFF;
}
#ca-carousel .owl-dot.active span {
  background: #139EFF;
}
#ca-carousel .more-btn {
  margin-bottom: 2rem;
}