#ca-slider {
  padding: 1rem 0;
  padding-bottom: 1rem;
  .item {
    .ca-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 15px 10px;
      .img {
        margin-bottom: 10px;
        .round-img {
          position: relative;
          width: 100px;
          height: 100px;
          clip-path: circle();
          img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }
      }
      .name {
        font-size: 0.85em;
        font-weight: 600;
        color: white;
      }
      .position {
        font-size: 0.65em;
        color: white;
      }
    }
    .slide1 {
      background: #2978B5;
    }
    .slide2 {
      background: #0061A8;
    }
    .slide3 {
      background: #084594;
    }
    .slide4 {
      background: #0057BC;
    }
  }
}